.acc-header{
    font-size: 20px;
    font-weight: bold;
    color: #FE980F;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #777;
  background-color: #eee;
}



.loader{


	position: absolute;
	left: 50%;
	

	z-index: 9999;
}

.btn-shop{
  color: #fff;
  background-color: #FE980F;
  border-color: #eea236;
}



@media (min-width: 640px) {
  .productinfo img {
    width: 100%;
  	height: 250px;
  }
}

@media only screen and (max-width: 640px) {
    .productinfo img {
    width: 100%;
  	height: 132px;
  }


}
.logo img{
  height: auto;
  width: 200px;
}
@media (min-width: 640px) {
  .productinfos img {
    width: 100%;
    height: 250px;
  }
}

