body {
  padding-bottom: 0;
  font-family: 'Open Sans', Arial ,Tahoma;
  color: #363636;
  background: #ededed;
  font-size: 16px;
}

.logo img{
  height: auto;
  width: 200px;
}

.primary, strong, h2 {
  color: #FE980F;
}

.container-main {
  background: #fff;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;  
  padding-bottom: 20px;
  
}

header {
  min-height: 100px;
  overflow: auto;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4em;
  font-size: 1.5em;
}

header h1 {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1.4em;
}

.profile-img {
  width: 160px;
  display: block;
  margin: auto;
  margin-top: -80px;
}

.line {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-list {
  padding: 0;
  margin: 0;
}

.contact-list li {
  list-style: none;
  font-weight: bold;
  line-height: 3.2em;
}

.contact-list span {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.1em;
  margin-left: 37px;
  font-size: 15px;
  color: #ccc;
}



.media {
  background: #ededed;
  padding: 10px;
}

.work-list li {
  list-style: none;
  padding: 0 10px 0 10px;
  margin-bottom: 30px;
}


footer {
  background:  #FE980F;
  color: #fff;
  margin: 10px;
  padding: 20px 0 20px 0;
}
.img-circles{
  border-radius: 50%;
}
.profile-imgs {
  width: 160px;
  height: 160px;
  display: block;
  margin: auto;
  margin-top: -80px;
}

a{
  color: #FE980F; !important

}
.logo-img {
  height: 35px;
  margin: 20px;
}